.qa__block {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 700px;
}

.qa__item {
  display: inline-block;
}

.qa__head {
  position: relative;
  text-align: left;
  padding: 20px 30px 20px 20px;
  background: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-bottom: solid 2px #7b7676;
  color: #7b7676;
}

.qa__body {
  position: relative;
  background: #fff;
  border: none;
  color: black;
  max-height: 0;
  overflow: hidden;
  /* borderを非表示 */
  border: transparent;
  /* 非表示時、0 */
  line-height: 0;
  /* 追記 */
  transition: line-height 0.4s, padding 0.4s, opacity 0.4s;
}

.qa__head::after {
  content: "";
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(-135deg) translateY(9px);
  position: absolute;
  right: 20px;
  top: 50%;
  /* 追記  ふわっと*/
  transition: transform 0.4s;
}

.qa__item.is-open {
  line-height: 1.5;
  opacity: 1;
  border: none;
  visibility: visible;
}

.qa__item.is-open::after {
  transform: rotate(45deg) translateY(-10px);
  visibility: visible;
}
.qa__item:not(:first-child) {
  margin-top: 16px;
}
.qa__body img {
  width: 50%;
}

.qa__item.is-open .qa__body {
  max-height: 50%;
}
