.qa__block {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.qa__item {
  display: inline-block;
}

.qa__head {
  position: relative;
  text-align: left;
  padding: 20px 30px 20px 20px;
  border-radius: 8px 8px 0 0;
  background: lightblue;
  border: 1px solid lightblue;
  color: black;
  cursor: pointer;
  width: 100%;
}

.qa__body {
  position: relative;
  border-radius: 0 0 8px 8px;
  background: #fff;
  color: black;
  border: 1px solid lightblue;
  padding: 20px;
}

.qa__head::after {
  content: "";
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(-135deg) translateY(9px);
  position: absolute;
  right: 20px;
  top: 50%;
  /* 追記  ふわっと*/
  transition: transform 0.4s;
}

.qa__body {
  position: relative;
  border-radius: 0 0 8px 8px;
  background: #fff;
  color: black;
  /* borderを非表示 */
  border: transparent;
  /* 上下のpaddingを0に書き換える */
  padding: 0 20px;
  /* 非表示時、0 */
  line-height: 0;
  /* 非表示時、０ */
  opacity: 0;
  /* 追記 */
  transition: line-height 0.4s, padding 0.4s, opacity 0.4s;
}

.qa__body.is-open {
  padding: 20px;
  line-height: 1.5;
  opacity: 1;
  border: 1px solid lightblue;
}

.qa__head.is-open::after {
  transform: rotate(45deg) translateY(-10px);
}
.qa__item:not(:first-child) {
  margin-top: 16px;
}
.qa__body img {
  width: 30%;
}
